.hero {
  background-color: var(--background-color);
  max-width: 1600px;
  margin: 0 auto;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero.jpg);
  background-position: center;
  background-size: cover;
  background-color: rgba(196, 196, 196, 1);
  background-repeat: no-repeat;
}
.hero__container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.hero__title {
  color: var(--accent2-color);
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
}
.hero__button {
  cursor: pointer;
  color: var(--accent2-color);
  background-color: var(--accent1-color);
  border-radius: 4px;
  padding: 10px 32px;
  border: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  transition: background-color 250ms var(--timing-function);

  &:hover,
  &:focus {
    background-color: var(--button-active);
  }
}
